/* Undo some styles from the master stylesheet */
.checklist li { background: none; padding-left: 0; }

/* CSS for checklists */
.checklist {
border: 1px solid #ccc;
list-style: none;
height: 10em;
overflow: auto;
width: 30em;
}
.checklist, .checklist li { margin: 0; padding: 0; }
.checklist label { display: block; padding: 0 0.2em 0 25px; text-indent: -25px; }
.checklist label:hover, .checklist label.hover { background: #777; color: #fff; }
* html .checklist label { height: 1%; }
